<style>
    p {
        font-family: 'Times New Roman', Times, serif;
        font-weight: 400;
        text-align: left;
        margin-left: 50px;
    }

    #Abs {
        padding-top: 20px;
    }

    h1 {
        font-family: 'Times New Roman', Times, serif;
        text-decoration-style: double;
        margin-left: 50px;
    }

    h3 {
        font-family: 'Times New Roman', Times, serif;
        text-decoration-style: double;
        margin-left: 50px;
    }

    .list1 {
        margin-left: 50px;
    }
</style>
<h1 id="Abs"><strong>Abstract</strong></h1>
<p>
    The idea of the project is to develop an online book store with functionalities of buying and selling books online. The entire project is developed in .net core MVC. Using .net core over .net framework adds advantage as
    it is light weight and more organized. Moreover, MVC architecture makes the model simpler to develop and extend. The web application uses Google and Facebook oauth to sign up a new user. The project consists of 4 areas namely Admin, user, company and visitor. The admin has full rights of performing all the CRUD operations over companies and book inventory. The website offers a wide selection of books from various genres namely Literature and Fiction, Romance, Crime and Thrillers, Personal Development, Business and Economics, Biographies.
    The users can put the desired books in the cart and move to payment window. Once the books are
    added to the cart the user can review the order summary before making the final payment.
    Stripe Api is added for handling payment requests.
</p>
<h1><strong>Specific Details</strong></h1>
<h3><stromg>Modules</stromg></h3>
<ul class="list1">
    <li>Login/Register</li>
    <li>Admin Area(Full database access)</li>
    <li>User Area(Create account, view items)</li>
    <li>Company Area(Add books to the inventory)</li>
    <li>Request and Feedback</li>
</ul>

<h3><strong>Target User</strong></h3>
<ul class="list1">
    <li>Authorized Sellers</li>
    <li>Consumers</li>
</ul>