@model int
<div class="container row pb-5">
    <div class="col-12 text-center">
        <h1 style="color: #ff6a00" class="text-primary text-center"><b>Order Submitted Successfully</b></h1><br />
        <img src="~/images/ThankYou.jpg" width="50%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Thank you for your order! <br />
        We have received your order and we will send a follow up email shortly!
        <br />
        Your Order Number is : @Model
    </div>
</div>

